body{
    background-color: #012041;
}

#header{
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 25px;
}

.shapes{
    padding: 100px;
    border: 10px solid black;
    border-radius: 15%;
    
}

#green{
    background-color: green;
    margin-right: 33px;
}
#red{
    
    background-color: red;
}
#yellow{
    background-color: yellow;
    margin-right: 33px;
}
#blue{
    
    background-color: rgb(67, 85, 222);
}

#buttons{
    margin-top: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 250px;
}

.button_border{
    border: 10px solid rgb(246, 246, 246);
}
  